body {
  background-image: url("../images/naruto.jpg");
  background-size: 400px;
}

/************* START OF BACKGROUND IMAGE OVERLAY ****************/

/* Set a background image for header banner, which is covered with a white overlay */
.logo--mixed {
  background: url("../images/skybg.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
  position: relative;
}

/* Add an overlay on top of background image */
.logo--mixed::before {    
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(255, 255, 255, 0.5);
}

/* Set position relative so that the main content is not covered by the added overlay */
.logo--mixed .logo__link {
  position: relative;
}

/************* END OF BACKGROUND IMAGE OVERLAY ****************/

/* Override `uppercase` with `none` */
.logo__title,.logo__tagline,.menu__text {
  text-transform: none;
}

.logo__tagline {
  border-color: #BDBDBD;
}

/* Set round logo image */
.logo__img {
  border-radius: 100%;
}

.menu__list, .menu__btn {
  background-color: #263238;
}

.list__title {
  color: #212121;
}

.list__lead, .post__lead {
  color: #424242;
}

.widget__content .widget__link {
  text-decoration: underline;
  color: #01579B;
}

.widget__content .widget__link:hover {
  color: #03A9F4;
}

.widget__content .btn {
  color: #fff;
  background: #37474F;
  text-decoration: none;
}

.widget__content .btn:hover {
  color: #fff;
  background: #607D8B;
  text-decoration: none;
}

/* Fix code snippet style under table mode */
.highlight table pre {
  border: none;
  padding: 0 10px;
}
/* Rewrite <a> tag style in markdown content */
.content a {
  text-decoration: underline;
  font-weight: 500;
}

h1, h2, h3 {
  color: #212121;
}

blockquote {
  background: #E3F2FD;
  padding: 6px 12px;
}

code {
  color: #2196F3;
  background-color: #E3F2FD;
  border-color: #BBDEFB;
  border-radius: 2px;
}
